<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	
	<context:property-placeholder ignore-unresolvable="true"
		location="classpath:db.properties"/>

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="dbType" value="${jdbc.type}"></property>
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="initialSize" value="${jdbc.pool.init}"></property>
		<property name="minIdle" value="${jdbc.pool.minIdle}"></property>
		<property name="maxActive" value="${jdbc.pool.maxActive}"></property>
	
		<property name="maxWait" value="60000"></property>
		
		<property name="timeBetweenEvictionRunsMillis" value="60000"></property>	
		
		<property name="minEvictableIdleTimeMillis" value="300000"></property>
	
		<property name="validationQuery" value="${jdbc.testSql}"></property>
		
		<property name="testWhileIdle" value="true"></property>
		
		<property name="testOnBorrow" value="false"></property>
		
		<property name="testOnReturn" value="false"></property>
		
		<property name="filters" value="stat"></property>
		
	</bean>

	


</beans>
