<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sourceManager.mapper.DutiesMapper">

	<resultMap type="sourceManager.entity.Duties" id="dutiesMap">
		<id column="duties_id" property="dutiesId"/>
		<result column="duties_name" property="dutiesName"/>
	</resultMap>

	<insert id="addDuties">
		insert into duties
		values(#{dutiesId},#{dutiesName},0)
	</insert>
	
	<update id="updateDuties">
		update duties
		set duties_name = #{dutiesName}
		where duties_id = #{dutiesId}
	</update>
	<update id="deleteDuties">
		update duties
		set duties_activity = 1
		where duties_id = #{dutiesId}
	</update>
	
	<select id="findAllDuties" resultMap="dutiesMap">
		select duties_id,duties_name
		from duties
		where duties_activity = 0
	</select>
	<select id="findDutiesByDutiesId" resultMap="dutiesMap">
		select duties_id,duties_name
		from duties
		where duties_activity = 0
		and duties_id = #{dutiesId}
	</select>
	
</mapper>